#kreddycustomwrap * {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        height: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #000;
        outline: none;
        -webkit-appearance: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #000;
        background: #32c8a0;
        cursor: pointer;
    }
}

div#kreddycalculator {
    display: inline-block;
    background-color: #0f3c64;
    color: white;
    border-radius: 10px;
    padding: 45px 35px;
    margin-top: 5px;
    width: 49%;
}

#kreddycalculator a {
    color: #32c8a0;
}

#kreddycalculator a:hover {
    color: #14b187;
}

#kreddycalculator input[type="submit"] {
    background-color: #32c8a0;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

#kreddycalculator input[type="submit"]:hover {
    background-color: #14b187;
}

div#kreddycalculatorresults {
    display: inline-block;
    border: 13px solid #0e3c64;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    padding: 20px 20px;
    margin-left: -3px;
    width: 49%;
}

#kreddycalculatorresults ul {
    padding: 0;
    margin-left: 20px;
    margin-bottom: 0;
    list-style: none;
}

#kreddycalculatorresults ul li:not(:last-child) {
    border-bottom: 1px dotted gray;
}

#kreddycalculatorresults ul li {
    padding: 5px 0;
}

#kreddycalculatorresults ul li span {
    float: right;
    font-weight: 700;
}

div#kreddycustomwrap form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#kreddycustomwrap h2 span {
    font-size: 25px;
    font-weight: 500;
    float: right;
    margin-top: -10px;
}

#kreddycustomwrap h2 {
    font-size: 17px;
    font-weight: 400 !important;
}

.header-loan-amount, .body-loan-number-of-installments {
    margin-bottom: 25px;
}

.slidecontainer.body-loan-range-slider {
    margin-bottom: 25px;
    margin-top: 10px;
}

.kreddy-submit {
    margin-top: 14px;
}

#kreddycalculator input[type="text"] {
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

div#kreddycalculator h2 {
    color: white;
    border-bottom: 1px dotted white;
    border-color: lightblue;
    font-size: 25px;
}

.txtinput input {
    width: 100%;
}

.body-input-personal-id-document-no {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.body-input-personal-id-document-no input {
    flex-grow: 1;
    margin-left: 8px;
}

input.hidden {
    display: none !important;
}

#clientDocType {
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    padding: 5px;
}